{% load static %}
<link rel="apple-touch-icon" sizes="76x76" href="{% static "global/img/favicon-32x32.png" %}">
<link rel="icon" type="image/png" href="{% static "global/img/favicon.png" %}">
<!-- Bootstrap core CSS -->
<link rel="stylesheet" href="{% static "global/mdb/css/bootstrap.min.css" %}" type="text/css">
<!-- Material Design Bootstrap -->
{% comment %} <link rel="stylesheet" href="{% static "global/mdb/css/mdb.min.css" %}" type="text/css"> {% endcomment %}
<link rel="stylesheet" href="{% static "global/mdb/css/mdb-pro.min.css" %}" type="text/css">
<!-- Custom styles -->
<link rel="stylesheet" href="{% static "global/other/css/style.css" %}" type="text/css">