{% extends "frame/dashboard/base_d.html" %}
{% block main%}
<div class="table-responsive">
    <table id="dtBasicExample" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
<tr>
    <th></th>
    <th>Denumire</th>
    <th>CUI</th>
    <th>Nr Reg Com</th>
    <th>Active</th>
    <th></th>
</tr>
{% for member in object_list %}
<tr>
    <td>{{ forloop.counter }}</td>
    <td> {{ member.customer_type }}  </td>
    <td> {{ member.denumire }}  </td>
    <td> {{ member.judet }}  </td>
    <td> {{ member.Oras }}  </td>
    <td> {{ member.cui }}</td>
    <td> {{ member.telefon}}</td>
    {% comment %} <td> <i class="material-icons text-edit" {% if member.is_current is True %} style="color:blue" {% endif %}>check_circle</i></td> {% endcomment %}
    <td>
        {% comment %} <a href="{% url 'company:update' member.current_company.company.slug %}"> 
            <i class="material-icons text-edit" style="color:blue">edit</i>
        </a>
        <a href="{% url 'company:delete' member.current_company.company.slug %}"> 
            <i class="material-icons" style="color:red">delete_forever</i>
        </a>
        <a href="{% url 'company:activate' member.current_company.company.slug %}"> 
            <i class="material-icons" style="color:purple">assignment_ind</i> {% endcomment %}
        </a>
    </td>
</tr>

{% endfor %}

</table>
{% include 'frame/base/pagination.html' %}
</div>

{% endblock main%}

{% for member in object_list %}
{{ member.current_company.company.denumire }}, {{ member.current_company.company.cui }}
{% endfor %}
