{% extends extended_template %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html>
<head>
    {% block head %}
    <title>{{ title }}</title>
    {% endblock %}
</head>
<body>
    {% block page_title %}
        {{ gargs.title }}
    {% endblock page_title %}

	{% block body %}
        <div class="col-md-10 ml-auto mr-auto">
				{% include 'display_errors.html' %} {# add error and messages display ... #}
				<div class="card">


				<div class="card-header card-header-icon card-header-rose">
					<div class="card-icon">
						<i class="material-icons">perm_identity</i>
					</div>
					<h4 class="card-title">
						{% block card_title %}
						{{ gargs.card_title }}
						{% endblock card_title %}
						<small class="category">
							{% block card_description %}
							{{ gargs.card_description }}
							{% endblock card_description %}
						</small>
					</h4>

				</div>
                    <div class="card-body">
                        <form method="POST" class="form-horizontal" action="{% url 'accounts:change_password' %}" novalidate="novalidate" >
                            {% csrf_token %}

                            <div class="form-group">
                                <label for="id_old_password" class="bmd-label-floating">{{form.old_password.label}}</label>
                                {% render_field form.old_password class="form-control" type="password" %}
                            </div>
                            <div class="form-group">
                                <label for="id_new_password1" class="bmd-label-floating">{{ form.new_password1.label}}</label>
                                {% render_field form.new_password1 class="form-control" type="password" %}
                            </div>
                            <div class="form-group">
                                <label for="id_new_password2" class="bmd-label-floating">{{ form.new_password2.label}}</label>
                                {% render_field form.new_password2 class="form-control" type="password" %}
                            </div>
                            <button type="submit" class='btn btn-primary pull-right' id='id_add_new'>

                                {% block submit_action %}
                                {{ gargs.submit_action }}
                                {% endblock submit_action %}
                            </button>
                        </form>
                    </div>
			</div>
		</div>

	{% endblock %}
</body>
</html>