{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html>
<head>

    <title>Reset password</title>

</head>
<body>
      {% block body %}
      <div class="col-md-10 ml-auto mr-auto">
            <div class="alert alert-info" role="alert">
                <span>Ai uitat parola? Introdu adresa de email pentru a primi instructiunile de resetare.</span>
            </div>
				<div class="card">
				<div class="card-header card-header-icon card-header-rose">
					<div class="card-icon">
						<i class="material-icons">mail</i>
					</div>


				</div>
                    <div class="card-body">
                        <form method="POST" class="form-horizontal" action="{% url 'accounts:reset_password' %}" novalidate="novalidate" >
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="id_email" class="bmd-label-floating">{{form.email.label}}</label>
                                {% render_field form.email class="form-control" type="text"  %}
                            </div>
                            <button type="submit" class='btn btn-primary pull-right' id='id_add_new'>
                                {% block submit_action %}
                                    Reseteaza parola
                                {% endblock submit_action %}
                            </button>
                        </form>
                    </div>
			</div>
		</div>

	{% endblock %}


</body>
</html>