{% load i18n %}{% autoescape off %}
{% blocktrans %}Acest email a fost trimis de {{ site_name }} deoarece s-a solictiat schimabarea parolei.{% endblocktrans %}

{% trans "Va rugam acesati urmatorul link pentru a reseta parola:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'accounts:password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% trans "Adresa de email folosita este:"  %} {{ user.get_username }}

{% trans "Îți mulțumim că folosești servicile amTAG.ro! " %}

{% blocktrans %}Echipa {{ site_name }}{% endblocktrans %}
{% endautoescape %}
