{% extends "frame/base/main_one_column_chf.html" %}
{% block meta %} {{ block.super }} {% endblock meta %}
{% block title %} {{ block.super }} {% endblock title %}
{% block cdn %} {{ block.super }}  {% endblock cdn %}
{% block static %} {{ block.super }} {% endblock static %}
{% block style %} {{ block.super }} {% endblock style %}
{% block bodyclass %} {{ block.super }}  {% endblock %}
{% comment %} {% block content %} {% endcomment %}
{% block mainclass %}{% endblock mainclass %}
{% block main_content %}
{% include 'frame/components/main/reset_password.html' %}
{% endblock main_content %}
		      
	{% comment %} {% block footer %}<footer class="{% spaceless %}{% block footerclass %}{% endblock footerclass %}{% endspaceless %}">
	{% include '../components/footer/s_footer.html' %}{% block footer_content %} {% endblock footer_content %}
	</footer> {% endcomment %}
	{% comment %} {% endblock footer %}       {% endcomment %}
{% comment %} {% endblock content %} {% endcomment %}
{% block script %}{{ block.super }}{% endblock script %}
