{% extends "frame/base/main_one_column_chf.html" %}
{% block meta %}{{ block.super }}
<meta http-equiv="refresh" content="60;url={% url 'accounts:login' %}">{% endblock meta %}
{% block title %} {{ block.super }} {% endblock title %}
{% block cdn %} {{ block.super }}  {% endblock cdn %}
{% block static %} {{ block.super }} {% endblock static %}
{% block style %} {{ block.super }} {% endblock style %}
{% block bodyclass %} {{ block.super }}  {% endblock %}
{% comment %} {% block content %} {% endcomment %}
{% block mainclass %}{% endblock mainclass %}
{% block main_content %}
<div class="text-left">
    <p>
	Noua parolă a fost setată. Pentru a accesa contul tău mergi la secțiunea de <a href="{% url 'accounts:login' %}"><span>Autentificare</span></a>
    </p>
	</div>
{% endblock main_content %}
		      
{% block script %}{{ block.super }}{% endblock script %}
