{% extends "frame/base/main_one_column_chf.html" %}
{% block meta %} {{ block.super }} {% endblock meta %}
{% block title %} {{ block.super }} {% endblock title %}
{% block cdn %} {{ block.super }}  {% endblock cdn %}
{% block static %} {{ block.super }} {% endblock static %}
{% block style %} {{ block.super }} {% endblock style %}
{% block bodyclass %} {{ block.super }}  {% endblock %}
{% comment %} {% block content %} {% endcomment %}
{% block mainclass %}{% endblock mainclass %}
{% block main_content %}
{% include 'frame/components/main/reset_password_confirm.html' %}
{% endblock main_content %}
		      
{% block script %}{{ block.super }}{% endblock script %}
