{% extends "frame/base/main_one_column_chf.html" %}
{% block meta %} {{ block.super }} {% endblock meta %}
{% block title %} {{ block.super }} {% endblock title %}
{% block cdn %} {{ block.super }}  {% endblock cdn %}
{% block static %} {{ block.super }} {% endblock static %}
{% block style %} {{ block.super }} {% endblock style %}
{% block bodyclass %} {{ block.super }}  {% endblock %}
{% comment %} {% block content %} {% endcomment %}
{% block mainclass %}{% endblock mainclass %}
{% block main_content %}
<div class="text-left">
<h1>Parola a fost resetată</h1></div>
<div class="text-left">
    <p>
	Instrucțiunile de resetare au fost trimise pe email. Te rugăm verifică și în spam sau junk, uneori mai ajung și acolo.
    </p>
	</div>
{% endblock main_content %}
		      
{% block script %}{{ block.super }}{% endblock script %}
