<div class="s_footer">
    <div class="row my-3 d-flex justify-content-center align-items-center">
        <div style="padding: .1em .5em;">
            <a href="tel:0040362100200" title="tel:0040362100200" class="text-am-blue">
                <i class="fas fa-phone-volume"></i>
                0362 100 200
              </a>
        </div>
        <div class="" style="padding: .1em .5em;">
            <a href="#" title="contact@FactInv" class="text-am-blue">
                <i class="fas fa-at"></i>
                contact@FactInv
              </a>
        </div>
    </div>
    <div class="row d-flex justify-content-center align-items-center my-2 text-am-red px-3">
        <p class="text-center px-1">Atitudinea pozitivă și responsabilitatea acțiunilor noastre personale sunt profitabile pentru fiecare dintre noi!</p>
    </div>
    <div class="row footer1_link d-flex justify-content-center align-items-center border-bottom border-danger">
        <a href="#" class="px-2">Despre noi</a>
        <span>|</span>
        <a href="#" class="px-2">Cum funcționează</a>
        <span>|</span>
        {% comment %} <a href="{% url 'general:cookie' %}" class="px-2">cookie-urile și amTAG</a> {% endcomment %}
    </div>
</div>